.dish {
	border: solid rgb(72, 35, 35);
	border-radius: 5px;
	padding: 20px;
	background-color: rgb(255, 254, 248);
	box-shadow: 0px 4px 5px rgb(19, 5, 5);
}

h2 {
	font-size: 30px;
	position: relative;
}

h2::before {
	content: "";
	width: 15px;
	height: 15px;
	background-color: rgb(128, 101, 95);
	position: absolute;
	top: -70%;
	left: 50%;
	border-radius: 50%;
	border: 2px solid rgb(72, 35, 35);
	box-shadow: 0px 2px 2px black;
}

h3 {
	font-size: 35px;
}
p {
	font-weight: 500;
	color: rgb(96, 10, 10);
}

h4 {
	font-size: 20px;
}
