.menu {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	width: 100%;
	padding: 50px;
	width: 87%;
	background-color: rgb(92, 69, 42);
	margin-bottom: 30px;
	border: 15px solid rgb(161, 126, 50);
	box-shadow: 0px 8px 5px rgb(19, 5, 5);
}
