body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(255, 230, 197);
	color: black;
	width: 100svw;
}

h1 {
	text-align: center;
	position: relative;
	padding-bottom: 20px;
	color: rgb(48, 18, 18);
}

h1::after {
	content: "";
	bottom: -2px;
	left: 0px;
	width: 100%;
	height: 3px;
	background-color: rgb(89, 20, 20);
	position: absolute;
}
